.menuContainer {
  border-bottom: 1px solid #eee;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 5rem;
}

.menuColumn {
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  font-size: 1rem;
  margin-top: 0.5rem;
  margin-top: 20px;
}

.menuRow a {
  text-transform: uppercase;
  color: #000;
}

.menuColumn a {
  text-decoration: underline;
}

.menuRow a:not(:last-child) {
  margin-right: 1rem;
}
